[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyyaml = "*"

[requires]
python_version = "3.8"

[dev-packages]
pyspark = "*"
flake8 = "*"
pytest-mock = "*"
pytest = "*"
pandas = "*"
